# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/

# Sensitive files
keypair.bin
recipients.json

# IDE/editor files
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
